{% set profile_params = {'feed_profile': current_feed_profile} if current_feed_profile is defined and current_feed_profile else {} %}
<header class="main-header">
    <div class="header-content">
        <a href="{{ url_for('index', **profile_params) }}" class="logo">
            <img src="{{ url_for('static', filename='icons/icon.svg') }}" alt="Meridiano Icon" style="height: 1.2em; vertical-align: middle; margin-right: 8px;">
            Meridiano
        </a>
        <nav class="main-nav">
            <a href="{{ url_for('index', **profile_params) }}" class="{{ 'active' if request.endpoint in ['index', 'view_brief'] else '' }}">Briefs</a>
            <a href="{{ url_for('list_articles', **profile_params) }}" class="{{ 'active' if request.endpoint in ['list_articles', 'view_article', 'add_manual_article'] else '' }}">Articles</a>
            <a href="{{ url_for('collections', **profile_params) }}" class="{{ 'active' if request.endpoint in ['collections', 'view_collection'] else '' }}">Collections</a>
        </nav>
        <div class="header-actions">
            <a href="{{ url_for('add_manual_article') }}" class="btn btn-add-article" title="Add New Article">
                <i class="fas fa-plus"></i> Add Article
            </a>
        </div>
    </div>
</header>
{% include '_flash_messages.html' %}
